*.dot
.git
.pytest_cache
.tox
.vscode
.idea/
venv/
*.egg-info/
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.DS_Store

{toxworkdir}
datasets/
embeddings/
lightning_logs/
lightning_test/
papers/
results/
projects/
.bash_history
target/
/.docker/requirements.txt
/logs/